<%= link_to recipe_path(recipe.id), class:'link-container'   do %>
<div class="card w-75 mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= recipe.description %></p>
        <% if can? :delete, recipe %>
            <%= link_to "Delete", recipe_path(recipe.id),data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_confirm: "Are you sure?" },class:"btn btn-danger" %>
        <% end %>
    </div>
</div>
<% end %>
